@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7bdaf3;
  --secondary-color: #0d4757;
  --tertiary-color: #9ec862;
  --quartenary-color: #fff;
}

html {
  background-color: var(--primary-color);
  /* color: var(--secondary-color); */
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #0d4757;
  --secondary-color: #7bdaf3;
  --tertiary-color: #36530e;
  --quartenary-color: #e6e7b5;
}

html.dark {
  background-color: var(--primary-color);
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

/* Dark mode btn styles */
.toggle-container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.toggle-container .ball {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 100%;
  background-color: #fffff0;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.toggle-container .fa-moon,
.toggle-container .fa-sun {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 7px;
  transition: opacity 0.8s ease-in-out;
}

.toggle-container .fa-moon {
  left: 55px;
  opacity: 1;
}

.toggle-container .fa-sun {
  left: 10px;
  opacity: 0;
}

.dark-mode .toggle-container {
  background-color: var(--secondary-color);
}

.dark-mode .ball {
  transform: translateX(52px);
}

.dark-mode .fa-moon {
  opacity: 0;
}

.dark-mode .fa-sun {
  opacity: 1;
}

/* Alert styles */
.alert {
  position: fixed;
  top: 50%;
  left: 45%;
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 20px;
  background-color: #fc3605;
  box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Menu btns styles */
.fixed {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--tertiary-color);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.clear {
  top: 1rem;
  right: 8rem;
  background-color: #c8626a;
}

button .fas {
  padding-right: 0.3rem;
}

/* Note styles */
.note {
  background-color: var(--quartenary-color);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.note .tools {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .tools span {
  margin-right: auto;
  font-size: 0.9rem;
  font-style: italic;
  color: #fff;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
  background-color: var(--quartenary-color);
}

.main {
  padding: 20px;
}

.hidden {
  display: none;
}
